body {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #ffffff;
    width: 1200px;
    margin: auto;
}

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 40px;
}

.about-me {
    margin-bottom: 40px;
}

.my-name {
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 55px;
margin-bottom: 8px;
}

.my-summary {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;        
    color: #595959;
}

.sidebar {
background: #DFEEFF;
padding-top: 40px;
padding-bottom: 40px;
}

.sidebar-content {
 padding-top: 40px;
 padding-left: 40px;
 padding-right: 13px;
}

.sidebar-title{
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   color: #161D2A;
   margin-bottom: 8px;
}

.contacts-container {
  margin-bottom: 40px;
}

.contacts-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161D2A;
}

.contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #2979FF;
}

.skills-container {
    margin-bottom: 40px;
}

.skills-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;  
    color: #161D2A;
    list-style: disc;
}

.skills-list {
    padding-left: 24px;  
}

.my-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 8px;
}

.main-content-tittle {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.projects-container {
  margin-bottom: 44px;  
}

.projects-item {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 24px;
color: #000000;
list-style: decimal;
}

.projects-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
text-decoration-line: underline;
color: #2979FF;
}

.projects-tech {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects-list {
  padding-left: 19px;
}

.company-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
}

.company-position-accent {
  color: #6098ff
}

.company-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A8A8A8;
  margin-bottom: 8px;
}

.company-duties-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style: disc;
}

.company-duties-list {
   padding-left: 19px;
}

.company-container {
   margin-bottom: 8px;
}

.work-container {
   margin-bottom: 40px;
}

.education-place {
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #6096FF;
   margin-bottom: 8px;
}

.education-course {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 17px;
   color: #000000;
   margin-bottom: 8px;
}

@media screen and (max-width: 1270px) {
      .wrapper {
      width: 100%;
  }
}

@media screen and (max-width: 995px) {
      .main-content {
      padding-left: 40px;
      padding-top: 40px;
      padding-right: 40px;
      padding-bottom: 40px;
  }
      .my-photo {
      width: 275px;
  }
}

@media screen and (max-width: 885px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .sidebar {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .sidebar-content {
    padding-top: 0;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .skills-row {
    display: flex;
    padding-right: 20px;
  }
}

@media screen and (max-width: 680px) {
  body {
    padding: 0;
  }

  .sidebar {
    flex-direction: column;
    align-items: center;
  }

  .my-photo {
    margin-bottom: 20px;
    width: 350px;
  }

  .sidebar-content {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}

    @media screen and (max-width: 480px) {
    .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }    

.skill-row { 
flex-direction: column;
padding-right: 0;
  } 

.sidebar-content {
  align-items: flex-start;
  }  
} 












